@charset "utf-8";

html {margin:0;padding:0;}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,select,button,
table,th,td,ul, li {margin:0;padding:0;border:0;font-size:12px;font-family:"NanumGothic",Tahoma,Geneva,sans-serif;color:#333;font-weight:normal;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
header, footer, section, article, aside, nav, details, menu, figure, figcaption {display:block;-webkit-box-sizing:border-box;box-sizing:border-box;}

a:link , a:visited {text-decoration:none;}
a:hover,a:focus,a:link , a:visited  {color:#000000;text-decoration:none;}
*{-webkit-text-size-adjust:none;}

input,textarea,select,button{font-size:12px;font-family:"NanumGothic",Tahoma,Geneva,sans-serif;}
img,fieldset {border:0;}
form,fieldset,input {margin:0;padding:0;}
em,address,optgroup {font-style:normal;font-weight:normal;}
button {border:none 0;margin:0;padding:0;overflow:visible;cursor:pointer;background:none;outline:none;}

select {cursor:pointer}

ol,ul,li {list-style:none;}
table {border-spacing:0;border-collapse:collapse;}
hr {display:none;}
legend {position:absolute;top:-1000px;left:-1000px;visibility:hidden;}
caption {height:0;line-height:0;font-size:0px;visibility:hidden;}

.skipNavi {position:absolute;left:0;top:0;z-index:999;width:100%;text-align:center;}
.skipNavi a {position:absolute;top:-999px;left:-999px;}
.skipNavi a:focus, .skipNavi a:active, .skipNavi a:hover {display:block;top:0;left:0;padding:7px 10px 5px;background:#000;color:#fff;font-weight:bold;font-size:14px;text-decoration:none;}

input[placeholder] { color:#666;}
::-webkit-input-placeholder { /* WebKit browsers */ color:#666;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#666;}
::-moz-placeholder {/* Mozilla Firefox 19+*/ color:#666;}
:-ms-input-placeholder {/* ie10+*/ color:#666;}
