* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1080px;
  margin: auto;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.logo {
  padding: 15px;
}

.gnb .main_menu_list {
  float: left;
}

.gnb .main_menu_list a {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 1em;
  padding: 20px 40px;
}

.gnb .main_menu_list.white a {
  padding: 20px;
}

.gnb .main_menu .white {
  background-color: #fff;
}

.gnb .main_menu .yellow {
  background-color: #ffd200;
}

.gnb .main_menu .yellow:first-of-type {
  padding-left: 35px;
}

.gnb .main_menu .yellow:last-of-type {
  padding-right: 35px;
}

.gnb .main_menu .font_yellow {
  color: #ffd200;
}

.gnb:after {
  display: block;
  clear: both;
  content: '';
}

.slider {
  width: 100%;
  position: relative;
}

.slider .container .common_banner {
  width: 100%;
  height: 1024px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider .container .banner1 {
  background-image: url("./../img/w_visual2_bg1.jpg");
}

.slider .container .banner2 {
  background-image: url("./../img/w_visual2_bg2.jpg");
}

.slider .container .banner3 {
  background-image: url("./../img/w_visual2_bg3.jpg");
}

.slider .container .banner4 {
  background-image: url("./../img/w_visual2_bg4.jpg");
}

.slider img {
  display: block;
  width: 100%;
}

.slider .dots_wrap {
  position: absolute;
  bottom: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .dots_wrap li {
  display: inline-block;
  margin: 0 5px;
}

.slider .dots_wrap button[role=tab] {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  font-size: 0;
  -webkit-transition: all .1s;
  transition: all .1s;
  outline: none;
}

.slider .dots_wrap .slick-active button[role=tab] {
  width: 50px;
  border-radius: 6px;
  background-color: #ffd200;
}

.slider .btn_wrap {
  position: absolute;
  width: 100%;
  top: 40%;
}

.slider .btn_wrap .icon {
  position: absolute;
  font-size: 5em;
  color: #fff;
}

.slider .btn_wrap i.prev {
  left: 50px;
}

.slider .btn_wrap i.next {
  right: 50px;
}

.slider .scroll_down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .scroll_down_radius {
  position: relative;
  width: 70px;
  height: 95px;
  border: 1px solid #fff;
  border-radius: 35px;
  text-align: center;
}

.slider .scroll_down_radius::before {
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 1px;
  height: 20px;
  border-left: 1px solid #fff;
  content: '';
}

.slider .scroll_down_radius .text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1;
}

.slider .scroll_down_radius .icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 2.3em;
}

.report {
  width: 100%;
}

.report .report_mail {
  display: block;
  width: 100%;
  height: 406px;
  background-image: url("./../img/w_campaign_reportBtn.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #f1c80c;
}

.menu_grid {
  position: relative;
  background-color: #eee;
}

.quarter {
  padding: 100px 20px;
}

.quarter:after {
  display: block;
  clear: both;
  content: '';
}

.quarter_section {
  float: left;
}

.quarter_section .quarter_a {
  display: block;
  width: 500px;
  height: 361px;
  background-image: url("./../img/w_mainGrid_v2.jpg");
  background-repeat: no-repeat;
}

.quarter_section .best_chief {
  background-position: top left;
}

.quarter_section .what_payment {
  background-position: top right;
}

.quarter_section .chear {
  background-position: bottom left;
}

.quarter_section .night_bus {
  background-position: bottom right;
}

.movie {
  text-align: center;
  background-color: #fbfbfb;
}

.movie_content {
  padding: 80px 0;
}

.movie .title_prologue,
.movie .title_attack {
  display: none;
}

.movie_title {
  font-size: 3.2em;
  font-weight: 400;
}

.movie_p {
  font-size: 1.8em;
  font-weight: 300;
}

.movie .select_tab {
  display: inline-block;
  margin: 30px 0 50px;
}

.movie .select_tab .prologue, .movie .select_tab .attack {
  float: left;
  display: block;
  font-size: 2em;
  font-weight: 700;
  width: 270px;
  padding: 20px 0;
  border: 1px solid #000;
  letter-spacing: 2px;
  color: #ddd;
}

.movie .select_tab .prologue.on, .movie .select_tab .attack.on {
  color: #000;
}

.movie .select_tab .prologue {
  border-right: none;
}

.movie_prologue, .movie_attack {
  display: none;
  width: 1000px;
  margin: 0 70px;
}

.movie .select {
  display: block;
}

footer {
  position: relative;
  background-color: #333;
  text-align: center;
  font-size: 0.9em;
  font-weight: 300;
}

footer .footer_content {
  padding: 40px 0 60px;
}

footer .sns {
  padding: 15px 0;
}

footer .sns_icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 13px;
  background-image: url("./../img/w_social_icon.png");
  background-repeat: no-repeat;
}

footer .go_kakao {
  background-position: top left;
}

footer .go_facebook {
  background-position: top center;
}

footer .go_twitter {
  background-position: top right;
}

footer .footer_menu {
  text-align: center;
  letter-spacing: -1px;
}

footer .footer_menu li {
  display: inline-block;
  vertical-align: middle;
}

footer .footer_menu li:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  border-left: 1px solid #555;
  margin: 0 5px;
  vertical-align: middle;
  content: '';
}

footer .footer_menu li:last-child:after {
  border: none;
}

footer .footer_menu li a {
  color: #efefef;
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

footer .contact_info {
  padding: 5px 10px 15px;
  font-size: 0.9em;
}

footer .contact_info .call, footer .contact_info .email {
  display: inline-block;
  color: #efefef;
}

footer .contact_info .call:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  border-left: 1px solid #555;
  margin: 0 5px;
  vertical-align: middle;
  content: '';
}

footer .contact_info .email {
  font-style: normal;
}

footer .copyright {
  font-size: 0.9em;
  color: #757575;
}

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
  }
  .movie_prologue, .movie_attack {
    width: inherit;
  }
  .quarter {
    padding: 100px calc((100% - 1000px)/2);
  }
}
/*# sourceMappingURL=main.css.map */