* {
  margin: 0;
  padding: 0;
}

$textColor: #5d5f68;
$backColor: #dddada;
%title{
  color: $textColor;
  font-weight: normal;
  font-size: 1.1em;
}
.wrap{
  width: 50%;
}
.coffee__search {
  &__box {
    width: 100%;
    background-color: $backColor;
    padding: 10px 0;
  }

  &__title {
    @extend %title;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
  }

  &__input {
    border: 1px solid $backColor;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
  }
  &__input:focus{
    border-color: $textColor;
  }

  &__btn {
    width: 65px;
    height: 25px;
    background-color: #ddd;
    vertical-align: middle;
  }
}

.coffee__result{
  &__menu{
    width: 100%;
    min-height: 150px;
    border: 1px solid #ececec;
    box-sizing: border-box;
  }
  &__list{
    @extend .coffee__select__list;
  }
}
.coffee__select{
  &__box{
    padding: 10px 0;
  }
  &__title{
    @extend %title;
  }
  &__list{
    display: inline-block;
    padding: 5px 10px;
    margin: 5px; 
    background-color: $backColor;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
  }
  &__state{
    .coffee__select__title{
      display: inline-block;
    }
  }
  &__type{
    display: inline-block;
    vertical-align: middle;
    &:after{
      display: block;
      content: '';
      clear:both;
    }
    .coffee__type{
      float: left;
      border: 1px solid $textColor;
      width: 70px;
      height: 25px;
      text-align: center;
      &.on{
        background-color: $textColor;
        color:$backColor;
      }
    }
    .coffee__hot, .coffee__ice{
      display: none;
    }
  }
}
.coffee__order{
  &__info{
    min-height: 150px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    padding: 5px;
  }
  &__text{
    color: $textColor;
  }
}