@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

.wrap {
  width: 1140px;
  margin: auto;
}
.back_ani{
  background: {
    image:url(https://lonelyplanetwpnews.imgix.net/2018/02/1st-Max-Rive-8396.jpg);
    size: cover;
    position:left top;
  }
  animation: {
    name: back;
    duration: 60s;
    timing-function: linear;
    delay: 5s;
    iteration-count: infinite;
    direction: alternate;

  }
}
.trans{
  h1{
    color:#fff;
    font-size: 4.6em;
    letter-spacing: -1px;
    text-align: center;
    text-transform: capitalize;
  }
  p{
    color:#fff;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
  }
}
.text_wrap{
  padding:80px 0 50px;
}
.img_100{
  position: relative;
  img{
    width: 100%;
  }
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    text-transform: capitalize;
    font-weight: bold;
  }
}
.video{
  position: relative;
  padding: {
    bottom: 25.25%;
    top: 30px;
  }
  margin-top: 1.2em;
  height: 0;
  overflow: hidden;
  iframe, object, embed{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
section {
  background-color: gray;
  padding-top: 30px;
}
.process{
  .top{
    padding: 50px 0;
    background-color: #fff;
    h1{
      color:#000;
    }
  }
  .text_wrap{
    background-color: #ddd;
  }
  p{
    color:#727272;
    &::selection, &::-moz-selection{
      background-color: #333;
      color:#fff;
    }
  }
}
.black {
  background-color: #000;

  .fig_wrap{
    padding-top: 20px;
    width: 100%;
  }
  .top_img{
    width: 50%;
    float: left;
    font-size: 0;
    img{
      width: 100%;
    }
  }
  &::after{
    display: block;
    clear: both;
    content: '';
  }
}
.top {
  margin-top: 30px;
  h1 {
    padding-top: 30px;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.3em;
    text-align: center;
  
    &::after {
      display: block;
      content: '';
      position: relative;
      left: 50%;
      width: 130px;
      height: 1px;
      background-color: #999;
      transform: translateX(-50%);
      margin: 10px 0 15px 0;
    }
  }
  p {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 0.75em;
    color: gray;
    text-align: center;
  }
  
}

.content_wrap{
  width: 100%;
}

@keyframes back{
  0%{
    background-position: left top;
  };
  100%{
    background-position: center top;
  };
}