*{
  margin: 0;
  padding: 0;
}
// label{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 500px;
//   height: 300px;
//   background-color: #ffe2b5;
// }

input{
  position: absolute;
  top: 450px;
  left: 100px;
}
input#click2{
  left: 120px;
}
.box{
  width: 100px;
  height: 100px;
}
#click2{
  display: none;
}
#click2:checked ~ .box{
  background: powderblue;
}
