.wrap {
  width: 80%;
  margin: auto; }

.header {
  width: 100%;
  padding-top: 15px; }
  .header__title, .header__title--gray {
    float: left; }
    .header__title--gray {
      color: gray; }
  .header__info {
    float: right; }
  .header:after {
    display: block;
    clear: both;
    content: ''; }

.report-title:after {
  display: block;
  clear: both;
  content: ''; }

.report-title__item, .report-title__item-border {
  float: left;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px; }
  .report-title__item-border {
    background-color: #edf2f6;
    border-top: 1px solid #d7dae2;
    border-left: 1px solid #d7dae2;
    border-bottom: 1px solid #d7dae2;
    font-weight: bold;
    color: #6e7d9a; }
    .report-title__item-border:last-child {
      border-right: 1px solid #d7dae2; }

.report-form__left-div {
  float: left;
  width: 50%; }

.report-form__right-div {
  float: right;
  width: 50%; }

.report-form__item:after {
  display: block;
  clear: both;
  content: ''; }

.report-form__label, .report-form__label--gray {
  display: block;
  width: 100%; }
  .report-form__label--gray {
    color: gray; }

.report-form__input {
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 7px; }

.report-data__list:after {
  display: block;
  clear: both;
  content: ''; }

.report-data__name, .report-data__address, .report-data__email, .report-data__etc {
  float: left;
  width: calc(100% / 4);
  text-align: center; }
