* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

.face_wrap {
  width: 400px;
  height: 330px;
  border-radius: 180px 180px 100px 100px;
  background-color: darkcyan;
}

.two_eye {
  position: relative;
  z-index: 10;
}

.two_eye::after {
  display: block;
  content: '';
  clear: both;
}

.eye_wrap {
  position: relative;
  top: 70px;
  display: inline-block;
  width: 90px;
  height: 120px;
  background-color: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.eye_wrap.left {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 62px;
}

.eye_wrap.left .eye {
  left: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 62px;
}

.eye_wrap.left::before {
  display: block;
  position: absolute;
  right: 0;
  content: '';
  width: 30px;
  border-top: 1px solid #000;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.eye_wrap.right {
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 35px;
}

.eye_wrap.right .eye {
  right: 10px;
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 35px;
}

.eye_wrap.right .eye::before {
  left: 0;
}

.eye_wrap.right::before {
  display: block;
  position: absolute;
  content: '';
  width: 30px;
  border-top: 1px solid #000;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.eye {
  width: 80px;
  height: 120px;
  position: absolute;
  top: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: #6e4d60;
  overflow: hidden;
}

.eye::before {
  position: absolute;
  top: 0px;
  right: 0;
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.eye .pupil_top {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.eye .pupil {
  width: 50px;
  height: 78px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.left {
  float: left;
  left: 30px;
}

.right {
  float: right;
  right: 30px;
}

.nose {
  position: relative;
}

.nose::before, .nose::after {
  position: absolute;
  top: 67px;
  display: block;
  content: '';
  width: 5px;
  height: 0;
  border-top: 1px solid #000;
  z-index: 10;
}

.nose::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: 190px;
}

.nose::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 190px;
}

.mouth_wrap {
  position: relative;
  width: 65%;
  height: 100px;
  margin: auto;
  top: 58px;
  overflow: hidden;
  background-color: #a55656;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.mouth_wrap .mouth_top {
  width: 130px;
  height: 63px;
  background-color: darkcyan;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 50%;
  border-bottom-color: #000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.mouth_wrap .m_left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.mouth_wrap .m_right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.mouth_wrap .m_right.mouth_top {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.mouth_wrap .m_right.mouth_top::before {
  display: block;
  content: '';
  clear: both;
}

.mouth_wrap .shadow {
  position: absolute;
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mouth_wrap .abs_left_wrap {
  position: absolute;
  left: 0;
  top: 50px;
}

.mouth_wrap .abs_right_wrap {
  position: absolute;
  right: 0;
  top: 50px;
}

.mouth_wrap .black_abs {
  width: 30px;
  height: 30px;
  background-color: #000;
}

.mouth_wrap .left_top {
  left: 0;
}

.mouth_wrap .left_bottom {
  left: 0;
}

.mouth_wrap .right_top {
  border-bottom-left-radius: 30px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.mouth_wrap .right_bottom {
  right: 0;
}

.mouth_wrap .mouth_bottom {
  position: absolute;
  width: 80%;
  height: 20px;
  left: 50%;
  bottom: 0;
  background-color: #eca0a0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/*# sourceMappingURL=ggobugi.css.map */