@mixin rel_box{
  position: relative;
  width: $rel_w;
  height: $rel_h;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
@mixin abs_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin rel_center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin media-color($view){
    @if ($view == 'pc') {
      color: red;
    } @else {
      color: blue;
    }
}