<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/dist/css/about.min.css">
</head>
<body>
  <h1>About</h1>
  <% hello = x => x %>
  <%= hello('world') %>
  <% for(var i = 0; i < 3; i++){ %>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, beatae repellat aut, laboriosam aspernatur quod quibusdam praesentium quis delectus nam, obcaecati sint rerum deserunt corporis. Aliquam reiciendis ipsam similique vero.</p>
  <% } %>

  <a href="/">Home</a>

</body>
</html>