@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
}
.wrap{
  width: 100%;
  margin: 0 auto;
}
.header{
  position: fixed;
  width: 300px;
  left: 30px;
}
.logo{
  position: relative;
  width: 100%;
}
.logo img{
  display: block;
  width: 100%;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  padding: 10px 50px;
}
h1 span{
  display: block;
  text-align: center;
  font-size: 0.7rem;
}
nav{
  position: absolute;
  top: 300px;
  width: 100%;
}
.nav_ul{
  width: 80%;
  margin: 0 auto;
}
.nav_ul li{
  border-top: 1px solid #b2b2b2;
}
.nav_ul li:last-child{
  border-bottom: 1px solid #b2b2b2;
}

.nav_ul a, figcaption{
  display: block;
  text-align: center;
  color: #c71534;
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
}
.nav_ul span, figcaption span{
  display: block;
  line-height: 0.7;
  font-size: 0.7em;
  font-weight: normal;
}
.contents_wrap{
  width: 60%;
  padding: 150px 0 0;
  margin: 0 auto;
}

h3{
  text-align: center;
}
figure{
  display: inline-block;
  width: 30%;
  margin-right: 50px;
}
figure:nth-child(3), figure:nth-child(6){
  margin-right: 0;
}
figure img{
  width: 100%;
}
.line_wrap{
  position: relative;
  width: 100%;
  margin: 30px 0;
}
.line_wrap div{
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 1.1em;
  font-weight: bold;
}
.line_wrap div::before, .line_wrap div::after{
  position: absolute;
  top: 50%;
  content: '';
  width: 40%;
  border-top: 1px solid #b2b2b2;
}
.line_wrap div::before{
  left: 0;
}
.line_wrap div::after{
  right: 0;
}
.dia{
  color: #b2b2b2;
}
.line_wrap .dia::before, .line_wrap .dia::after{
  width: 50%;
  z-index: -1;
}
.footer{
  width: 100%;
  margin-top: 20px;
}
.footer p{
  text-align: center;
}
.red{
  color: #c71534;
}
@media screen and (max-width: 1870px){
  .header{
    width: 250px;
  }
  figure{
    margin-right: 40px;
  }
}
@media screen and (max-width: 1538px){
  figure{
    margin-right: 35px;
  }
}
@media screen and (max-width: 1412px){
  .header{
    left: 20px;
  }
}
@media screen and (max-width: 1371px){
  figure{
    margin-right: 30px;
  }
  h1{
    padding: 10px 25px;
  }
}
@media screen and (max-width: 1360px){
  .header{
    width: 230px;
  }
  nav{
    top: 280px;
  }
}
@media screen and (max-width:1262px){
  .header{
    width: 200px;
  }
  nav {
    top: 250px;
  }
}
@media screen and (max-width:1205px){
  .header{
    left: 15px;
  }
  figure{
    margin-right: 25px;
  }
}
@media screen and (max-width:1087px){
  .header{
    width: 180px;
  }
  h1{
    padding: 10px;
    font-size: 1.8em;
  }
  nav{
    top: 220px;
  }
  figure{
    margin-right: 20px;
  }
  .line_wrap div::before, .line_wrap div::after{
    width: 35%;
  }
}
@media screen and (max-width:980px){
  .header{
    width: 150px;
  }
  nav{
    top: 190px;
  }
  .nav_ul{
    width: 90%;
  }
  h1{
    padding: 5px;
  }
}
@media screen and (max-width:870px){
  figure{
    margin-right: 10px;
  }
  h1{
    font-size: 1.5em;
  }
}
@media screen and (max-width:830px){
  .header{
    width: 130px;
    left: 10px;
  }
  nav{
    top: 160px;
  }
  h1{
    font-size: 1.3em;
  }
}
@media screen and (max-width:728px){
  .header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  nav{
    position: relative;
    top: 20px;
  }
  .nav_ul li{
    display: inline-block;
    margin-left:-6px;
    border-bottom: 1px solid #b2b2b2;
    padding: 0;
    width: 33%;
  }
  .nav_ul li:first-child{
    margin-left: 0;
  }
  nav::after{
    display: block;
    content: '';
    clear: both;
  }
  .logo img{
    display: none;
  }
  h1{
    position: relative;
    top: 40px;
    left: initial;
    transform: none;
  }
  .contents_wrap{
    padding: 70px 0 0;
    width: 90%;
  }
  figure{
    width: 45%;
    margin-right: 10px;
  }
  figure:nth-child(3){
    margin-right: 10px;
  }
  figure:nth-child(2), figure:nth-child(4){
    margin-right: 0;
  }
  .line_wrap div::before, .line_wrap div::after{
    width: 25%;
  }
}
@media screen and (max-width:484px){
  .nav_ul a, figcaption, .footer p{
    font-size: 0.8em;
  }
}