@charset "utf-8";

body,
div,
a,
p,
span,
img,
ul,
li,
figure,
nav,
article,
section,
footer,
figcaption {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  background-color: #fff;
  z-index: 10;
}

.nav_wrap {
  width: 80%;
  margin: 0 auto;
}

h1 img {
  display: block;
  width: 100%;
}
.menu ul{
  width: 80%;
  margin: 0 auto;
}
.menu ul li{
  width: 100%;
  margin: 20px 0;
}
.menu ul li a{
  color:#347cc6;
}
.contact p{
  margin: 25px 0;
}
.contact span{
  display: block;
  color: #347cc6;
  border: 1px solid #347cc6;
  padding: 5px 0;
  margin: 5px 0;
  text-align: center;
}
nav + section {
  position: relative;
  width: 100%;
  min-height: 620px;
  max-height: 650px;
  background: #fff url(img2/pc-img1.jpg) top left / cover no-repeat;
}

nav + section .text_wrap {
  position: absolute;
  top: 67%;
  left: 0;
}

nav + section .text_wrap p {
  font-size: 1.2em;
  line-height: 1.7;
}

p.white {
  background-color: #fff;
  width: calc(100% - 30%);
}

p.black {
  background-color: #000;
  color: #fff;
}
.button_wrap{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.button{
  display: inline-block;
  box-sizing: border-box;
  background-color: #a9f1f0;
  color: #347cc6;
  line-height: 1.5;
  text-align: center;
  width: 25%;
  border-top: 1px solid #347cc6;
  border-bottom: 1px solid #347cc6;
}
.button:nth-child(1),
.button:nth-child(3){
  border-left: 1px solid #347cc6;
  border-right: 1px solid #347cc6;
}
.button:last-child{
  border-right: 1px solid #347cc6;
}
.mail{
  width: 100%;
  padding-top: 50px;
}
.mail ion-icon, .mail p{
  float: left;
}
.mail ion-icon{
  font-size: 1.5em;
  width: 10%;
  margin: 0 auto;
}
.mail p{
  text-align: center;
  width: 30%;
}
form{
  float: right;
  width: 50%;
}
fieldset{
  border-style: none;
}
form input{
  border: 1px solid #b2b2b2;
  padding: 5px 10px;
  width:50%;
}
form input:focus{
  border-color: #000;
}
form button{
  background-color: #fff;
  border: 1px solid #b2b2b2;
  padding: 5px 10px;
  cursor: pointer;
}
.mail::after{
  display: block;
  content: '';
  clear: both;
}
section.column{
  position: relative;
  width: 100%;
  padding: 50px 0 150px;
}
article{
  width: 18%;
  margin-right: 5rem;
  display: inline-block;
  vertical-align: top;
}
section article:last-child{
  margin-right: 0;
}
figure{
  width: 100%;
  max-width: 260px;
  margin-bottom: 20px;
}
figure img{
  display: block;
  width: 100%;
  max-height: 170px;
  overflow-y: hidden;
 
}
figure figcaption{
  margin: 20px 0;
  color: #347cc6;
}

footer{
  border-top: 2px solid #eee;
}
.left_footer{
  float: left;
  padding: 25px 0;
}
.left_footer p:first-child{
  color:#347cc6;
}
.sns{
  float: right;
  padding-top: 25px;
  font-size: 1.8em;
}
.sns a{
  color: #ddd;
  transition: all .2s ease-in-out;
  padding: 0 5px;
}
.sns a:hover{
  color: #b2b2b2;
}

@media screen and (max-width: 1400px) {
  .wrap{
    width: 90%;
  }
  nav {
    width: 100%;
    max-height: 500px;
    padding-bottom: 20px;
  }
  nav + section .text_wrap{
    top: 73%;
  }
  .nav_wrap {
    width: 100%;
  }
  .nav_wrap.mail::after{
    display: block;
    content: '';
    clear: both;
  }

  h1 {
    display: inline-block;
    width: 10%;
    margin: 10px 25px 25px;
    vertical-align: middle;
  }
  .menu{
    display: inline-block;
    width: 80%;
  }
  .menu ul li {
    width: 18%;
    display: inline-block;
    text-align: center;
  }
  .menu ion-icon{
    width: 100%;
    font-size: 2.3em;
  }
  .contact {
    display: none;
  }
  nav + section{
    background-image: url(img2/mobile-img1.jpg);
  }
  article{
    margin-right:2rem;
    width: 20%;
  }
}
@media screen and (max-width:1278px){
  article{
    margin-right: 1rem;
  }
}
@media screen and (max-width:1017px){
  article{
    margin-right: 20px;
  }
}
@media screen and (max-width:768px){
  nav {
    width: 100%;
    max-height: 500px;
    padding-bottom: 20px;
  }
  nav + section .text_wrap{
    top: 73%;
  }
  nav + section .text_wrap p{
    font-size: 0.8em;
  }
  h1 {
    width: 10%;
    margin: 10px;
  }
  .menu{
    display: inline-block;
    width: 80%;
  }
  .menu ul li {
    width: 18%;
    display: inline-block;
    text-align: center;
  }
  .menu ion-icon{
    width: 100%;
    font-size: 1.8em;
  }
  .contact {
    display: none;
  }
  nav + section{
    background-image: url(img2/mobile-img1.jpg);
  }
  article{
    margin-right:2rem;
    width: 20%;
  }
}