@charset "utf-8";

body,
div,
header,
nav,
ul,
li,
a,
img,
p,
span,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  border: 0;
}

.wrap {
  width: calc(100% - 0px);
  margin: 0 auto;
}

header {
  width: 15%;
}

nav {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 10%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  filter: opacity(0.8);
  z-index: 10;
}

h1 {
  font-size: 1.2em;
  padding-bottom: 10px;
}

nav ul li{
  margin: 5px 0;
}
nav ul li a {
  color: #111212;
  width: 100%;
  margin: 5px 0;
  font-size: .8em;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}

nav ul li a:active,
nav ul li a:hover{
  border-bottom: 1px solid #111212;
}

.full{
  position: relative;
  width: 100%;
  min-height: 768px;
  background-image: url(img/window-3178666.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 60%;
}
.mobile__p{
  display:none;
}
.section__p{
  position: absolute;
  left: 10%;
  bottom: 0;
  color: #fff;
}
.side{
  position: relative;
  width: 48%;
  min-height: 450px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}
.side_left{
  background-image: url(img/the-landscape-1950544.jpg);
  
}
.side_right{
  background-image: url(img/tree-3111916.jpg);
  float: right;
}
.side_right::after{
  display: block;
  content: '';
  clear: both;
}
.filter{
  position: absolute;
  width:100%;
  height:100%;
  background-color: #000;
  filter: opacity(0.5)
}
.filter p{
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}
.side_left .filter div{
  width: 80%;
  margin: 100px auto;
}
.side_right .filter p{
  text-align: left;
  width: 80%;
  margin: 20px auto;
}
.side_right .filter p::before{
  display: block;
  content: 'CC';
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
}
h3{
  color:#fff;
  font-size: 1.5em;
  text-align: center;
}
@media screen and (max-width:1024px){
  nav{
    width: 15%;
  }
  .full{
    background-image: url(img/nature-3326745.jpg);
  }
  .section__p{
    display: none;
  }
}
@media screen and (max-width:710px){
  nav{
    width: 20%;
  }
}
@media screen and (max-width:640px){
  body{
    background-color: #000;
  }
  .wrap{
    width: calc(100% - 30px);
  }
  header{
    width: 100%;
  }
  nav{
    position: relative;
    width: 100%;
    display: block;
    top: 0;
    left: -20px;
    filter: opacity(1);
  }
  nav ul li{
    display: inline-block;
    width: 18%;
    text-align: center;
  }
  .full{
    min-height: 380px;
  }
  .mobile__p{
    display: block;
    color:#fff;
    padding-bottom: 20px;
    font-size: 1.3em;
    line-height: 1.5;
  }
  .section__p{
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    background-color: #fff;
    line-height: 1.5;
    color: #000;
    }
  .side{
    display: block;
    width:100%;
  }
  .filter{
    position: relative;
  }
  .side_left .filter>*{
    display: none;
  }
  .side_left + .mobile__p{
    background-color: #fff;
    color: #000;
  }
  .side_right{
    background-image: none;
    background-color: #fff;
  }
  .side_right .filter p{
    color: #000;
  }
  .side_right .filter p::before{
    border-color: #000;
  }
}
@media screen and (max-width:580px){
  nav ul li{
    width: 100%;
    text-align: left;
  }
}